<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola desde el template de lista de poductos</h1>
    
    {% for product in products %}

        <p>El productos es: {{product.name}} </p>
        <p>Su precio es: {{product.price}} </p>
        
        
        {% if product.stock == True %}
            <p>Actualmente hay stock</p>
        {% else %}
            <p>Actualmente no hay stock</p>
        {% endif %}

    {% endfor %}

</body>
</html>